<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVh4NAPB8eHQu5vGS5GTurnrvZhPkpAD4</string>
	<key>GCM_SENDER_ID</key>
	<string>671256677241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eslamfares.ra7alh.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ra7alh-c2ac6</string>
	<key>STORAGE_BUCKET</key>
	<string>ra7alh-c2ac6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671256677241:ios:7f1b7d79664b021a087da8</string>
</dict>
</plist>